/***********
 * GLOBALS *
 ***********/

@import url('../font/fonts.css');

html,
body {
  background-color: #222;
}
body {
  color: #000;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  overflow-y: scroll;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  display: block;
}

p {
  font-size: 1.5em;
  line-height: 1em;
  font-weight: 200;
  margin-top: 30px;
}

p a {
  display: inline-block;
  border-bottom: 1px solid #fff;
  line-height: 1em;
}

p a:hover {
  text-decoration: none;
  border-bottom: 2px solid #fff;
}

p a:active {}

/*Title Header*/
h1, .h1 {
  font-family: 'Bangers', cursive;
  font-size: 3.5em;
  line-height: 0em;
  color: #fff;
}

/*Title Sub-Header*/
h2, .h2 {
  font-family: 'Bangers', cursive;
  font-size: 2.0em;
  line-height: 0em;
  color: #fff;
  text-align: center;
}

/*Content Title*/
h3, .h3 {
  font-family: 'Bangers', cursive;
  font-size: 6.0em;
  color: #fff;
  text-shadow: 0 8px 3px rgba(0,0,0,.5);
}

/*Content Small Text*/
h5, .h5 {
  font-family: 'Patua One', cursive;
  font-size: 2.5em;
  color: #fff;
}

#mg { font-family: 'Cherry Cream Soda', cursive; }
#jp { font-family: 'Patua One', cursive; }

/*Content Text*/
p, .p {
  font-family: 'Bangers', cursive;
  font-size: 4.0em;
  color: #fff;
  text-shadow: 0 8px 3px rgba(0,0,0,.5);
}

.btn,
.btn:hover,
.btn:focus {
  text-shadow: 0 3px 6px rgba(0,0,0,.5);;
  margin-left: 6px;
  margin-right: 6px;
}

/***** ASSETS *****/

.header {
  background-color: #000;
  text-decoration:none!important;
  width: 100%;
  display: block;
  left: 0px;
  top: 0px;
  padding-top: 1px;
  padding-bottom: 8px;
  z-index: 9999;
}
#stuckheader {padding-top: 8px;
  padding-bottom: 16px;}

.slidetext-div
{
  display: block;   
  text-align: center;
  vertical-align: middle;
  position: static;
  font-weight: bold;
  width: 100%;
  padding-bottom: 8px;
}

.slidetext-center
{
  display: block;   
  text-align: center;
  vertical-align: middle;
  position: absolute;
  font-weight: bold;
  top: 50%;
  padding-left: 5%;
  padding-right: 5%;
  transform: translateY(-50%) translateY(-16px);
  -moz-transform: translateY(-50%) translateY(-16px);
  -webkit-transform: translateY(-50%) translateY(-16px);
  -o-transform: translateY(-50%) translateY(-16px);
  -ms-transform: translateY(-50%) translateY(-16px);
}

.slidetext-static {
  display: block;
  text-align: center;
  vertical-align: middle;
  position: static;
  font-weight: bold;
  margin-left:auto;
  margin-right:auto;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 800px;
}

#darkened {
  padding-top: 8px;
  background-color: rgba(0,0,0,0.5);
}

.slide {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  text-align: center;
  vertical-align: middle;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
#odd { border-top: 1px solid rgba(255,255,255,0.3); border-bottom: 1px solid rgba(0,0,0,0.4); box-shadow: 0 0 50px rgba(0,0,0,0.8); }
#even { box-shadow: 0 0 25px rgba(0,0,0,0.3); border: 1px solid rgba(150,150,150,0.1); }

.photo {
  background: transparent 40% 100px no-repeat fixed;
  background-position: center;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  display: block;
}

outer {
  padding: 10px 0 10px 0;
  display: block;
  vertical-align: middle;
  position: static;
}

.footer {
  background-color: #222;
  display:block;
  position: static;
  padding-top: 8px;
  padding-bottom: 8px;
}
#copyright-web { color: #ccc; }
#copyright-content { color: #ccc; }
#credits { color: #777; }
#noblue { color: inherit; text-decoration:underline; }

.scrolldown {
  display: block;
  position: fixed;
  width: 100%;
  bottom: 0px;
  z-index: 9999;
}

/***** MEDIA QUERIES *****/

@media screen and (max-width: 700px){
  
}