/***********
 * GLOBALS *
 ***********/

/*html,
body {
  height: 100%;
  background-color: #222;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  overflow-y: scroll;
  overflow: -moz-scrollbars-vertical;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
}
::-webkit-scrollbar{
  width:16px;
  visibility: hidden;
  z-index: -999;
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
}
.site-wrapper-inner {
  display: static;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.slidetext-center
{
  padding: 0 0px 0 0px;
  display: table-cell;   
  text-align: center;
  vertical-align: middle;
  position: relative;
  font-weight: bold;
}
.slidetext-content 
{
  padding: 20px 20px 20px 20px;
  display: block;   
  text-align: center;
  vertical-align: middle;
  position: relative;
  font-weight: bold;
  background-color: rgba(0,0,0,0.25);
}
.slidetext-static
{
  padding: 20px 20px 20px 20px;
  display: table-cell;
  text-align: center;
  vertical-align: top;
  position: relative;
  font-weight: bold;
  background-color: rgba(0,0,0,0.25);
}

.slide {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  text-align: center;
  vertical-align: middle;
}
.static-img {
  background-size: cover!important;
  background-attachment: fixed!important;
  background-repeat: no-repeat!important;
  display: block!important;
  position: static!important;
}
.dynamic-img {
  background-size: cover!important;
  background-attachment: scroll!important;
  background-position: center!important;
  background-repeat: no-repeat!important;
  display: block!important;
  position: relative!important;
}
.color-img {
  display: block!important;
  position: static!important;
}
.img-center {
    background-position: center!important;
}
.img-bottom {
    background-position: bottom!important;
}

p {
	font-family: 'Skolar', Georgia, serif;
	font-size: 1.5em;
	line-height: 1em;
	font-weight: 200;
	margin-top: 30px;
}

p a {
	display: inline-block;
	border-bottom: 1px solid #fff;
	line-height: 1em;
}

p a:hover {
	text-decoration: none;
	border-bottom: 2px solid #fff;
}

p a:active {}

h1, .h1 {
	font-size: 5.9em;
	line-height: 1.15em;
	color: #fff;
}

h2, .h2 {
	font-size: 3.5em;
	line-height: 1.2em;
	color: #fff;
	text-align: center;
}

h3, .h3 {
	font-size: 2.6em;
	line-height: 1.5em;
	color: #fff;
}

h4 {
  line-height: 0.5em;
}

h5 {
  line-height: 0;
}*/

/***** MEDIA QUERIES *****/

@media screen and (max-width: 700px){
  
}